[submodule "lindu_node"]
	path = lindu_node
	url = https://github.com/Lindu-EEW/lindu_node.git
[submodule "lindu_server"]
	path = lindu_server
	url = https://github.com/Lindu-EEW/lindu_server.git
[submodule "lindu_grafana"]
	path = lindu_grafana
	url = https://github.com/Lindu-EEW/lindu_grafana.git
[submodule "lindu_frontend"]
	path = lindu_frontend
	url = https://github.com/Lindu-EEW/lindu_frontend.git
